<!-- Home Bar (disappears on scroll) -->
<app-home-bar></app-home-bar>

<!-- Sticky Horizontal Navigation Bar -->
<app-nav-bar></app-nav-bar>

<!-- Main Content Area -->
<main class="content">
  <!-- Router Outlet for displaying routed components -->
  <router-outlet></router-outlet>

  <!-- Button -->
  <div class="button-container" style="margin: 20px; text-align: center;">
    <button (click)="onButtonClick()">Click Me</button>
  </div>
</main>

<!-- Footer -->
<footer>
  <p>&copy; 2024 My App. All rights reserved.</p>
</footer>

<!-- estimate -->
<app-estimate-header></app-estimate-header>
<div class="estimate-container">
  <div class="main-container">
    <app-estimate-table (itemsChanged)="updateItems($event)"></app-estimate-table>
    <app-summary-box [items]="items"></app-summary-box>
  </div>
  <app-estimate-footer></app-estimate-footer>
</div>

